/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
         url('../fonts/merriweather-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* merriweather-italic - latin */
@font-face {
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 400;
        src: local('Merriweather Italic'), local('Merriweather-Italic'),
                url('../fonts/merriweather-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../fonts/merriweather-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-900 - latin */
@font-face {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        src: local('Merriweather Black'), local('Merriweather-Black'),
                url('../fonts/merriweather-v21-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../fonts/merriweather-v21-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-900italic - latin */
@font-face {
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 900;
        src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
                url('../fonts/merriweather-v21-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../fonts/merriweather-v21-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nanum-gothic-coding-regular - latin */
@font-face {
        font-family: 'Nanum Gothic Coding';
        font-style: normal;
        font-weight: 400;
        src: local('NanumGothicCoding'),
                url('../fonts/nanum-gothic-coding-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../fonts/nanum-gothic-coding-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nanum-gothic-coding-700 - latin */
@font-face {
        font-family: 'Nanum Gothic Coding';
        font-style: normal;
        font-weight: 700;
        src: local('NanumGothicCoding-Bold'),
                url('../fonts/nanum-gothic-coding-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../fonts/nanum-gothic-coding-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* menco-medium */
@font-face {
        font-family: 'Menco';
        font-style: normal;
        font-weight: 500;
        src: local('Menco'),
                url('../fonts/menco-medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../fonts/menco-medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}